header{
    display: flex;
    background-color: #28282B;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-container{
    padding: 1% 5%;
    width: 30%;
}

.header-container h2{
    text-align: center;
}