<app-create-task
    *ngIf="showCreateTaskForm" 
    (CloseForm)="CloseCreateTaskForm()"
    (EmitTaskdata)="createorUpdateTask($event)"
    [isEditMode]="editMode"
    [selectedTask]="selectedTask"
>
</app-create-task>

<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>

        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click)="OpenCreateTaskForm()">Create Task</button>
        </div>
    </div>

<hr>

    <div class="dashboard-item-container">
        <div class="sb sb-error">{{errorMessage}}</div>
        <div [ngStyle]="{'text-align':'center','color':'red'}" *ngIf="tasks.length < 1">
            <h2>NO TASK HAS BEEN CREATED YET</h2>
        </div>
        <div class="task-item" [ngClass]="'task-'+task.status" *ngFor="let task of tasks">
            <div class="task-title">
                <h2 [ngStyle]="{'textAlign':'center','color':'orange'}" >{{ task.title.toUpperCase() }}</h2>
            </div>
            <p><b>Description: </b> <br>{{ task.description}}</p>
            <p><b>Assigned to: </b> <br>{{ task.assignedTo }}</p>
            <p><b>Priority: </b> <br>{{ task.priority }}</p>
            <p><b>Status: </b> <br>{{ task.status }}</p>

            <div class="task-action-icons">
                <button (click)="onEditTask(task.id)" class="task-action-btn" title="Edit">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button (click)="onDelete(task.id)" class="task-action-btn" title="Delete">
                    <i class="fa fa-trash"></i>
                </button>            
            </div>
        </div>
    </div>
</div>